:root{
    --cor-de-fundo:#555c6b;
    --branco:#ffffff;
    --laranja: #EB9800;
    --fonte-principal: "Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.cabeçalho_menu-hamburguer{

width: 24px;
height: 24px;
background-image: url(./img/Menu.svg);
background-repeat: no-repeat;
background-position: center;
display: inline-block;

}
.cabeçalho {
background-color: var(--branco);
display: flex;
justify-content: space-between;
align-items: center;
position: relative;


}
.container{
display: flex;
align-items: center;


}
.container_imagem{
padding: 1em;
margin: 1em;
width: 5em;
}
.container_botao:checked ~.lista-menu{
    display: block;
}
.lista-menu_titulo,
.lista-menu_item{
    padding: 16px;
    background-color: white;
}
.lista-menu_link
{
-webkit-background-clip: text;
background-clip: text;
text-transform: uppercase;
}
.lista-menu{
    display: inline-block;
    position: absolute;
    top: 100%;
    width: 20vw;
}
.container_botao{
    display: none;
}
.lista-menu{ 
display: none;

}
